<div id="wrapper" class="wrapper">
    <div class="container">
        <h1>Welcome {{subscriptionUsers}}</h1>
        <div id="error" class="error"></div>
        <form class="form" id="login" autocomplete="disabled" #userForm="ngForm" (submit)="submit()">
            <input type="email" #email="ngModel" [ngClass]="{'showError':email.touched && email.invalid}" name="username" [(ngModel)]="user.username" id="email" placeholder="Username" required>
            <input type="password" name="password" [(ngModel)]="user.password" id="password" placeholder="Password" required>
            <ng-container *ngFor="let item of user.test; index as i;">
                <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.test[i].item">
            </ng-container>
            <button (click)="addItem()">add Item</button>
            <button type="submit" id="login-button" [ngStyle]=" {'background-color': userForm.valid ?'blue':'red'}" [disabled]="!userForm.valid" 
            class="loginbutton">Login</button>
            <button type="button" id="login-button" routerLink="/signup" class="loginbutton">Sign Up</button><br>
        
           
          
        </form>
        <div id="rolechooser" class="role hidden">
          <button type="button" id="hero-button" class="loginbutton">I'm a hero</button>
          <button type="button" id="villain-button" class="loginbutton">I'm a villain</button><br>
        </div>
        <div id="display-characters" class="characters-wrapper hidden">
            <div id="ordinary" class="characters">
                <p><strong>Totally ordinary people:</strong></p>
                <ul id="ordinaries-list">
                </ul>
            </div>
            <div id="heroes" class="characters">
                <p><strong>Heroes:</strong></p>
                <ul id="heroes-list">
                </ul>
            </div>
            <div id="villains" class="characters">
                <p><strong>Villains:</strong></p>
                <ul id="villains-list">
                </ul>
            </div>
        </div>
    </div>
</div>